.transactionHistory {
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.transactionHeader {
    background-color:deepskyblue;
    text-transform: uppercase;
}

.transactionHeaderItem {
    padding: 10px 20px;
    /* display: block; */
    color: #fcfcfc;
}